.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/assets/*.raw
/assets/*.img
/assets/*.iso
/assets/*-nvram.bin
/assets/serial-*.log
